<br/><br/>
<div data-controller="replies">
    <%= comment.remark %>
    <div class="flex text-slate-500">

        <%# Logic for the author %>
        <% if current_user.id == comment.user_id %>
            You
        <% else %>
            <%= User.where(id: comment.user_id).first.name %>
        <% end %>
        commented <%= time_ago_in_words(Comment.where(id: comment.id).last.updated_at) %> ago 
    </div>
</div>

